# dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# build outputs
dist/
.cache/
*.log

# environment
.env
.env.*.local

# service account keys (very important!)
*.json

# misc
.DS_Store
